@media screen and (max-width : 950px) {
    .plataformas-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .plataformas_informacoes{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .plataformas_ilustrativo{
        text-align: center;
    }
    .acessibilidade-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .acessibilidade_informacoes{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .acessibilidade_ilustrativo{
        justify-content: center;
        width: 100%;
    }
    .acessibilidade_ilustrativo-container{
        margin: 0;
    }
    .acessibilidade_ilustrativo_animacao{
        padding: 0.35em 0.75em;
        justify-content: center;
    }
    .dispositivos-container{
        flex-direction: column;
    }
    .dispositivos_informacoes, .dispositivos_ilustrativo{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .kids-container{
        flex-direction: column;
    }
    .kids_informacoes, .kids_ilustrativo{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .perguntas_lista{
        width: 90%;
        margin: 1.25em auto;
    }
    .perguntas_formulario-container{
        max-width: 600px;
    }
}
@media screen and (max-width : 740px) {
    .rodape_instrucoes_itens{
        width: 33%;
    }
}

@media screen and (max-width : 700px) {
    .formulario_email{
        flex-direction: column;
        
    }
    .formulario_email button{
        width: fit-content;
        margin-top: 20px;
        height: 40px;
    }
    .formulario_email button span{
        font-size: 1em
    }
}
@media screen and (max-width : 585px){
    .cabecalho_topo_info_lang{
        margin-right: 10px;
    }
    .titulo{
        font-size: 1.75em;
    }
    .sub-titulo{
        font-size: 1.125em;
    }
    legend{
        font-size: 1em;
    }
    .espacamento{
        padding: 50px 5%;
    }
    .perguntas_lista{
        width: 100%;
        margin: 1.25em auto;
    }
    .perguntas_item{
        width: 100vw;
    }
}

@media screen and (max-width : 500px) {
    .rodape_instrucoes_itens{
        width: 50%;
    }
}
@media screen and (min-width : 400px) and (max-width : 549px){
    .cabecalho_principal_informativo_container{
        padding: 30px 0;
    }
}
@media screen and (min-width : 350px) and (max-width : 399px){
    .cabecalho_topo_info{
        justify-content: space-around;
    }
    .info_lang{
        margin: 0;
    }
    .cabecalho_principal_informativo_container{
        padding: 15px 0;
    }
    
}
@media screen and (max-width : 349px){
    .cabecalho_topo_info{
        justify-content: space-around;
    }
    .info_lang{
        margin: 0;
    }
    .cabecalho_principal_informativo_container{
        padding: 0;
    }
}